.role_controle_buttons .rc_button {
  width: 110px;
  float: left;
}

.role_controle_buttons .rc_button .rc_button_wrap a {
  display: block;
  height: 20px;
  padding: 0 10px 0 25px;
  text-decoration: none;
}

.role_controle_buttons .rc_button .rc_button_wrap a:hover {
  text-decoration: none;
}

.role_controle_buttons .rc_add .rc_button_wrap a {
  background: url(rc_button.png) no-repeat top left transparent;
}

.role_controle_buttons .rc_delete .rc_button_wrap a {
  background: url(rc_button.png) no-repeat top left transparent;
  background-position: 0 -20px;
}

.role_controle_filter .form-type-textfield {
  float: left;
  margin: 0 20px 0 0;
}
.role_controle_filter input.form-submit, a.button {
  margin: 24px 0 0 25px;
}
.role_controle_filter_info {
  padding: 0 0 10px;
  
}
.clearfix {
  clear: both;
}